<div class="base">
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table table-dark table-striped"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Codigo/th></th>
        <th>Nome da Linha</th>
        <th>Itinerario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of miniBusLine">
        <td>{{ line.id }}</td>
        <td>{{ line.codigo }}</td>
        <td>{{ line.nome }}</td>
        <td>
          <button (click)="setNumberId(line.id)" class="btn btn-outline-info">
            <a href="/itinerary">Ver Mais</a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
