<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <img src="../../../assets/image/erros.webp" alt="" />
        <h1>Oops!</h1>
        <h2>Erro 404</h2>
        <div class="error-details">Desculpe, pagina não encontrada!</div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">Ônibus</a>
          <a href="/minibus" class="btn btn-primary btn-lg">Lotação</a>
        </div>
      </div>
    </div>
  </div>
</div>
