.error-template {
  padding: 20px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
img {
  padding-top: 0;
  width: 100%;
  max-width: 500px;
}
