<div class="d-flex flex-column">
</div>
<div class="container">
  <div class="divTable row">
    <div class="col mt-2">
      <div class="divError" *ngIf="busItineraryErro">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ busItineraryErro }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="divBtnReturn">
          <a [routerLink]="['/']" routerLinkActive="router-link-active" class="btnReturnBus btn"><i
              class="fas fa-bus-alt"></i>
            Ônibus
          </a>
          <a [routerLink]="['/minibus']" class="btnReturnMiniBus btn"><i class="fas fa-shuttle-van"></i> Lotação</a>
        </div>
      </div>
      <div class="spinner-border text-danger position-absolute top-50 start-50" role="status"
        *ngIf="isLoading$ | async as isloading">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div>
        <div class="divMap mx-auto">
          <h1 class="mapa display-4">Mapa</h1>
          <div class="itinerary">
            <h4 title="Itinerário de/da {{nameItinerary|titlecase}}">Itinerário de/da "{{ nameItinerary | titlecase
              }}"
            </h4>
          </div>
          <hr class="line-main mb-5" />
          <div id="maps"></div>
        </div>
      </div>
    </div>
  </div>
</div>