<div class="d-flex flex-column">
</div>
<div class="container">
  <div class="row">
    <div class="col mt-2">
      <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="busItineraryErro">
        {{ busItineraryErro }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="spinner-border text-danger position-absolute top-50 start-50" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="divMap mx-auto">
        <h1 class="mapa display-4">Mapa</h1>
        <div class="itinerary">
          <h4 title="Itinerário de/da {{name|titlecase}}">Itinerário de/da "{{ name | titlecase
            }}"
          </h4>
        </div>
        <hr class="line-main mb-5" />
        <div id="maps"></div>
      </div>
    </div>
  </div>
</div>