h4 {
  display: flex;
  justify-content: flex-end;
  margin-left: 40%;
}
#maps {
  height: 50vw;
  max-height: 75vh;
  border-radius: 20px;
}

.divMap {
  width: 65vw;
}

.mapa {
  margin-bottom: -35px;
}
