<div class="d-flex flex-column">
  <h4 class="title mt-3">Linha de Onibus</h4>
  <hr class="line-main mb-3" />
</div>
<div class="base">
  <div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
    *ngIf="busLineErro"
  >
    {{ busLineErro }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div class="spinner-border text-danger" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table table-dark table-striped"
  >
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nome da Linha</th>
        <th scope="col">Itinerario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of busLine">
        <th scope="row">{{ line.id }}</th>
        <th scope="row" scope="row" d>{{ line.codigo }}</th>
        <th scope="row">{{ line.nome | titlecase }}</th>
        <th scope="row">
          <button (click)="setNumberId(line.id)" class="btn btn-outline-info">
            <i class="fas fa-bus-alt"></i> Ver Mais
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
