<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <img src="../../../../../assets/image/error.webp" alt="Error na Página" />
        <h1>Oops!</h1>
        <h2>Error 404</h2>
        <div class="error-details">Desculpe, pagina não encontrada!</div>
        <div class="error-actions">
          <a [routerLink]="['/']" class="btnErrorBus btn">Ônibus</a>
          <a [routerLink]="['/minibus']" class="btnErrorMiniBus btn">Lotação</a>
        </div>
      </div>
    </div>
  </div>
</div>
