#maps {
  margin-top: 30px;
  height: 50vw;
  max-height: 70vh;
  border-radius: 20px;
}

.itinerary {
  display: flex;
  justify-content: flex-end;
}

.itinerary h4 {
  margin-left: 35%;
  margin-top: -10px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.divMap {
  width: 65vw;
}

.mapa {
  margin-right: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
}
