<div class="d-flex flex-column"></div>
<div id="container">
  <div class="div-table row">
    <div class="col mt-2">
      <div class="div-error" *ngIf="busItineraryError">
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          {{ busItineraryError }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <div class="div-btn-return">
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            class="btn-return-bus btn"
          >
            <em class="fas fa-bus-alt"></em>
            Ônibus
          </a>
          <a [routerLink]="['/minibus']" class="btn-return-mini-bus btn">
            <em class="fas fa-shuttle-van"></em>
            Lotação
          </a>
        </div>
      </div>
      <div
        class="spinner-border text-danger position-absolute top-50 start-50"
        *ngIf="isLoading$ | async"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <div>
        <div class="div-map mx-auto">
          <h1 class="map display-4">Mapa</h1>
          <div class="itinerary">
            <h4 title="Itinerário de/da {{ nameItinerary | titlecase }}">
              Itinerário de/da "{{ nameItinerary | titlecase }}"
            </h4>
          </div>
          <hr class="line-main mb-5" />
          <div id="maps"></div>
        </div>
      </div>
    </div>
  </div>
</div>
