<div id="container container-bus-line">
  <div class="d-flex flex-column">
    <h2 class="title mt-4">Linha de Ônibus</h2>
    <hr class="line-main mt-1 mb-4" />
  </div>
  <div class="div-table row">
    <div *ngIf="busLineError">
      <app-error-api [busLineError]="busLineError"></app-error-api>
    </div>
    <div class="col mt-1" *ngIf="!busLineError">
      <div
        class="spinner-border text-danger position-absolute top-50 start-50"
        *ngIf="isLoading$ | async"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="cy-Bus">
        <table
          datatable
          aria-describedby="bus-table"
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-striped"
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Código</th>
              <th>Nome da Linha</th>
              <th>Itinerário</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let line of busLine">
              <td>{{ line.id }}</td>
              <td>{{ line.codigo }}</td>
              <td>{{ line.nome | titlecase }}</td>
              <td>
                <button
                  (click)="setNumberId(line.id)"
                  class="btn-rout-bus btn btn-outline-info"
                >
                  <em class="fas fa-bus-alt"></em> Ver Rotas
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
