@import "node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/containers";

//Theme
body.light-theme {
  --text-color: #222;
  --bkg-color: #fff;
  --bkg-color-menu: #ced4da;
  --btn-txt-color: white;
  --btn-bg-color: rgb(11, 88, 160);
  --border-color-um: 0 0 0 2px #ced4da;
  --border-color-dois: 0 0 0 20px rgb(50, 50, 50);
  --bs-table-color: #dadfe4;
}

body {
  --text-color: #eee;
  --bkg-color: #252222;
  --bkg-color-menu: rgb(50, 50, 50);
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  --border-color-um: 0 0 0 2px rgb(50, 50, 50);
  --border-color-dois: 0 0 0 20px #ced4da;
  --bs-table-color: #323539;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  color: var(--text-color);
}

tr:nth-child(odd) > th {
  background-color: var(--bs-table-color);
}

td,
th {
  background-color: var(--bs-table-color) !important;
  color: var(--text-color);
}

body {
  background-color: var(--bkg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}

hr {
  background-color: var(--btn-bg-color) !important;
}

button,
.btn {
  color: var(--btn-txt-color);
  background-color: var(--btn-bg-color);
}

#div-header {
  background-color: var(--bkg-color-menu);
}

//color table
label {
  color: var(--text-color);
}

option,
input {
  color: var(--text-color) !important;
}

th.sorting::after,
th.sorting::before {
  color: var(--bs-table-color);
}

.table table-striped {
  color: var(--text-color) !important;
}

.dataTables_info {
  color: var(--text-color) !important;
}

.form-select-sm {
  background-color: var(--bkg-color) !important;
  color: var(--text-color) !important;
  width: 60px !important;
}

.dataTables_wrapper {
  background-color: var(--bkg-color);
}

.flex-column {
  color: var(--text-color);
  background-color: var(--bkg-color);
}

.paginate_button {
  background-color: black !important;
}

//color Map
.googleMaps {
  color: var(--text-color);
}

.mapboxgl-popup-content {
  background-color: var(--bkg-color);
}

.mapboxgl-popup-tip {
  border-top-color: var(--bkg-color) !important;
}

.mapboxgl-popup-close-button {
  color: var(--text-color);
}

#maps {
  box-shadow: var(--border-color-um), var(--border-color-dois) !important;
}

//Format Table
div .col {
  width: 100% !important;
  display: flex !important;
  justify-content: space-around !important;
}

div .divA-table {
  width: 100%;
}

table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting {
  background-image: none !important;
}

.page-link {
  color: var(--text-color) !important;
  background-color: var(--bkg-color) !important;
}

.pagination {
  border: 0px solid transparent !important;
}

.page-link:hover {
  border: 1px solid var(--btn-bg-color);
  background-color: var(--btn-bg-color) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 0px solid transparent !important;
}

.flex-column {
  padding-top: 5px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dataTables_wrapper {
  width: 100%;
  max-width: 800px;
}

.dataTables_wrapper .dataTables_info {
  position: left !important;
  width: 50%;
}

.dataTables_wrapper .dataTables_paginate {
  position: right;
  width: 50%;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  width: 100%;
}

.page-item {
  padding: 0px !important;
}

:root {
  --bs-body-line-height: 1;
}
