.divImgBus img {
  position: absolute;
  width: 100%;
  max-width: 40px;
  margin-left: 10px;
  padding-top: 4px;
}

.titleMenu h1 {
  width: 100%;
  min-width: 200px;
  margin-left: 70px;
  padding-top: 5px;
  font-size: 30px;
  font-family: "Lucida Sans Regular";
}

.divMenu {
  width: 100%;
  height: 60px;
}

.divMenu,
.divBtnMenu {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}

.divBtnMenu {
  width: 100%;
  max-width: 300px;
  margin-left: 20px;
  margin-left: 20px;
}

.btnMenuTheme {
  margin-top: -5px;
}

.btnMenuBus,
.btnMenuMiniBus {
  min-width: 150px;
  max-height: 40px;
  margin-left: 20px;
}

.changeTheme {
  width: 100%;
  min-width: 150px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
}
