hr {
  height: 3px;
  border-radius: 30px;
}

#container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btnRoutBus,
.btnRoutMiniBus {
  width: 100%;
  min-width: 150px;
  max-width: 200px;
  height: 30px;
  border-radius: 20px;
  padding-top: 1px;
}

.btnErrorMiniBus,
.btnErroBus {
  width: 100%;
  max-width: 150px;
  border: none;
}

.fas {
  margin-right: 10px;
}

.title {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
}



